# Conexion a la base de datos
datasource:
  serverName: serverName.com.py
  port: 1521
  serviceName: serviceName
  user: user
  password: password
  maximumPoolSize: 50
  minimumIdle: 5
  idleTimeout: 30000
  connectionTimeout: 10000

# Configuraciones de negocio para el envio de SMS
sms:
  - nombre: TEL-OTP
    telefonia: TEL                       # Operadora telefonica. Opcional
    clasificacion: OTP                   # Clasificacion: OTP, AVISO, PROMOCION (u otros). Opcional
    cantidadMaximaPorLote: 100           # Cantidad maxima de SMS a enviar por lote. Opcional. Por defecto 100
    modoEnvioLote: secuencial_espaciado  # Modo de envío: paralelo, paralelo_espaciado, secuencial_espaciado, secuencial_espaciado_async
    intervaloEntreLotesMs: 10000         # Tiempo de espera entre lotes de SMS a enviar (en milisegundos)
    maximoIntentos: 5                    # Número máximo de intentos de envío permitidos de SMS. Opcional. Por defecto 5
    # Conexion al Gateway
    smpp:
      host: host.com.py
      port: 54321
      systemId: systemId
      password: password
      sourceAddress: 09751000000
      sendDelayMs: 50  # Tiempo de espera entre envíos consecutivos de SMS (en milisegundos). Util para cumplir con límites del proveedor SMPP o evitar sobrecarga. Por defecto 500

  - nombre: TEL-AVISO
    telefonia: TEL
    clasificacion: AVISO
    cantidadMaximaPorLote: 100
    modoEnvioLote: secuencial_espaciado
    intervaloEntreLotesMs: 10000
    maximoIntentos: 5
    # Conexion al Gateway
    smpp:
      host: host.com.py
      port: 54321
      systemId: systemId
      password: password
      sourceAddress: 09751000000
      sendDelayMs: 50
